<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--Live-->
    <!--<add key="APIBaseURL" value="https://altitude.active8pos.com/Fusion/Api.svc/" />--> 
    
    <!--Stagging-->
    <!--<add key="APIBaseURL" value="https://dev.active8staging.com/altitude-membership-termination/Fusion/Api.svc" />-->
    <!--Local-->
    <!--<add key="APIBaseURL" value="https://dev.active8staging.com/altitude-membership-termination/Fusion/Api.svc" />-->
    <add key="APIBaseURL" value="http://localhost/Aurora/Fusion/Api.svc" />
    <add key="query" value="select * from fin.Membership 
    where ContractSalesDocumentID in 
    (select SalesDocumentID from fin.salesdocument where AddressID in (select AddressID from jmp.Location where locationId in (1,4,6,17,18)))
    and membershipstatusid = 1;"/>
    <!--<add key="query" value="select * from fin.Membership 
    where ContractSalesDocumentID in (select SalesDocumentID from fin.salesdocument where SalesDocumentTypeID = 1 and AddressID in (832969,874969))
    and ProductMembershipID in (select ProductMembershipID from fin.ProductMembership where ProductId not in (2716, 2791, 2892, 2893))"/>-->
  </appSettings>
  <connectionStrings>
    <add name="default" connectionString="server=active8staging.com\test,1436;database=Active8-Altitude-membership-termination;uid=sa;pwd=Canadian2@Chicken11#"/>
    <!--<add name="default" connectionString="server=51.222.108.148;database=Active8-Altitude;uid=Active8-Altitude;pwd=beF34@13*7jF0LjB"/>-->
  </connectionStrings>
</configuration>